*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 2px solid red;
}

.debug2{
  border: 2px solid blue;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}


.main-wrapper{
  height: 100vh;
  background-color: blue;
}

main{
  height: calc(100% - 90px);
  background-color: lightblue;
  display: flex;
}

aside{
  width: 230px;
  background-color: #000000;
}

aside .top{
  height: calc(100% - 100px);
  background-color: aqua;
}

.section-top .home{
  color: #686868;
}

.section-top .home::before{
  content: url("/assets/img/home.svg");
  display: inline-block;
  width: 15%;
  vertical-align: middle;
}

.section-top .search{
  color: #686868;
}

.section-top .search::before{
  content: url("/assets/img/search.svg");
  display: inline-block;
  width: 15%;
  vertical-align: middle;
}

.section-top .library{
  color: #686868;
}

.section-top .library::before{
  content: url("/assets/img/libreria.svg");
  display: inline-block;
  width: 15%;
  vertical-align: middle;
}

.section-top h3{
  margin-top: 30px;
  color: white;
}

.playlist{
  vertical-align: middle;
  display: flex;
}

.playlist i{
  vertical-align: middle;
  display: flex;
  margin-right: 5px;
}

.playlist .box{
  background-color: #A3A3A3;
  width: 20px;
  height: 20px;
}

aside .bottom{
  height: 100px;
  color: #6F6F6F;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.section-top ul li{
  list-style-type: none;
  margin-bottom: 5px;
}

.section-top ul{
  margin-top: 25px;
}

.section-top{
  width: 80%;
  margin: 0 auto;
}

.section-top img{
  margin-top: 15px;
  width: 80%;
}

.playlist{
  color: white;
}

.section-bottom{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.download{
  width: 10%;
  margin-right: 15px;
}

.bottom .profile{
  width: 15%;
  background-color: #6F6F6F;
  border-radius: 50%;
  margin-right: 15px;
}

.section-bottom span{
  font-weight: bold;
  color: white;
}

.bottom .line{
  border: 1px solid #717171;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content{
  width: calc(100% - 230px);
  height: 100%;
  overflow: auto;
  background-color: #141823;
}

.cta{
  height: 80px;
  background-color: #080B13;
  opacity: 0.8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cta span{
  color: white;
  border: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 40px;
  margin-right: 15px;
  font-size: small;
}

footer{
  height: 90px;
  background-color: gray;
}

@media screen and (max-widith:600px){
    aside{
      width: 50px;
    }
}